
<section class="subscript-parent">
    <div class="container">
        <div class="subscript">
    <span class="subscript__tittle">fork subscription pricing</span>

    <div class="parent-table">
        <div class="table">
            <div class="table__header">students</div>
            <span class="table__price"><span class="table__symbol">$</span><span class="table__number">29</span></span>
            <span class="table__times">per month</span>
            <hr class="table__line">
            <span class="table__license"><span class="table__licence-txt">personal license</span></span>
            <a href="#" class="table_btn-purchase btn-purchase" onclick="event.preventDefault()">purchase</a>
        </div>

        <div class="table">
            <div class="table__header">professional</div>
            <span class="table__price"><span class="table__symbol">$</span><span class="table__number">59</span></span>
            <span class="table__times">per month</span>
            <hr class="table__line">
            <span class="table__license table__license--correct"><span class="table__licence-txt">Professional License</span><span class="table__licence-txt">Email Support</span></span>
            <a href="#" class="table_btn-purchase btn-purchase" onclick="event.preventDefault()">purchase</a>
        </div>

        <div class="table table--highlighted">
            <div class="table__header table__header--highlighted">agency</div>
            <span class="table__price table__price--highlighted"><span class="table__symbol table__symbol--highlighted">$</span><span class="table__number table__number--highlighted">99</span></span>
            <span class="table__times table__times--highlighted">per month</span>
            <hr class="table__line table__line--highlighted">
            <span class="table__license table__license--highlighted"><span class="table__licence-txt table__licence-txt--highlighted">1-12 Team Members</span><span class="table__licence-txt">Phone Support</span></span>
            <a href="#" class="table_btn-purchase btn-purchase btn-purchase--highlighted" onclick="event.preventDefault()">purchase</a>
        </div>

        <div class="table">
            <div class="table__header">enterprise</div>
            <span class="table__price"><span class="table__symbol">$</span><span class="table__number">159</span></span>
            <span class="table__times">per month</span>
            <hr class="table__line">
            <span class="table__license table__license--correct"><span class="table__licence-txt table__licence-txt--correct">Unlimited Team Members</span><span class="table__licence-txt">24/ 7 Phone Support</span></span>
            <a href="#" class="table_btn-purchase btn-purchase" onclick="event.preventDefault()">purchase</a>
        </div>

    </div>

    </div>
    </div>
</section>



