.fork-app {
	position: relative;
	height: 615px;
	padding-top: 35px;
	background-color: #010005;
	background-image: url('../img/notebook.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;

	@include for-size(tablet) {
		height: 680px;
		padding-top: 50px;
	}

	&__title {
		margin-bottom: 15px;
		color: $white;
		font-size: 48px;
		@include font($Montserrat, 700);
		text-align: center;

		@include for-size(tablet) {
			margin-bottom: 20px;
			font-size: 72px;
		}
	}

	&__subtitle {
		font-size: 18px;
		text-align: center;
		line-height: 2;

		&--violet {
			color: $primary;
			font-size: 24px;
		}

		&--grey {
			color:#848e97;
			font-size: 14px;
			text-transform: uppercase;
		}
	}

	&__download-btn {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;
		padding: 15px 10px;
		border-radius: 25px;
		background-color: $primary;
		color: $white;
		font-size: 18px;
		@include font($Montserrat, 700);
		text-decoration: none;
		text-align: center;
		transition: color, background-color .2s;
		outline: none;

		@include for-size(tablet) {
			width: 390px;
			padding: 20px 15px;
			border-radius: 30px;
			font-size: 21px;
		}
	}
}