.header {
	min-width: 320px;
	background-color: $headerBg;

	&__wrap {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 4px 10px;
		align-items: center;

		@include for-size(mobile-landscape) {
			padding: 20px 10px;
		}

		@include for-size(desktop) {
			padding: 30px 10px;
		}
	}

	&__nav {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		padding: 0 10px;
		display: none;

		@include for-size(mobile-landscape) {
			position: static;
			display: block;
			order: 1;
			padding: 0;
		}

		@include for-size(desktop) {
			order: 0;
			width: auto;
			margin-right: 25px;
			margin-left: auto;
		}

		&.is-open {
			display: block;
		}
	}

	&__btn {
		@include font($Montserrat, 700);
		font-size: 15px;
		//width: 120px;
		padding: 9px 25px 11px;

		@include for-size(mobile-landscape) {
			font-size: 16px;
			padding: 10px 35px;
		}
	}

	&__toggle-wrap {
		@include for-size(mobile-landscape) {
			display: none;
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;

	&__img {
		width: 43px;
		height: 41px;
		background-image: url('../img/logo-sprite.png');
		background-position: -10px -10px;
	}

	&:hover {
		@include for-size(desktop) {
			@media(hover: hover) and (pointer: fine) {
				.logo__img {
					background-position: -73px -10px;
				}

				.logo__text {
					color: $white;
				}
			}
		}
	}

	&__text {
		display: none;
		margin-left: 10px;
		padding: 5px;
		color: $primary;
		text-transform: uppercase;
		font-size: 24px;
		@include font($Lato, 700);

		@include for-size(mobile-landscape) {
			display: block;
		}
	}
}