.testimonials {
	padding: 60px 0 70px;
	background-color: #4a3b4e; // temp

	@include for-size(tablet) {
		padding: 70px 0 80px;
	}

	@include for-size(desktop) {
		padding: 80px 0 70px;
	}

	&__title {
		max-width: 1200px;
		margin: 0 auto 40px;
		padding: 0 10px 0;
		color: $white;
		font-size: 36px;
		@include font($Montserrat, 700);
		text-align: center;
		line-height: 1.3;

		@include for-size(tablet) {
			font-size: 42px;
		}

		@include for-size(desktop) {
			font-size: 46px;
			margin: 0 auto 80px;
		}
	}

	&__row {
		@include for-size(mobile-landscape) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 20px;
		}

		@include for-size(tablet) {
			grid-column-gap: 25px;
		}

		@include for-size(desktop) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__col {
		margin-bottom: 40px;

		@include for-size(desktop) {
			margin-bottom: 80px;
		}

		@include for-size(desktop-large) {
			margin-bottom: 100px;
		}
	}

	&__img-wrap {
		margin-bottom: 25px;
		text-align: center;

		@include for-size(mobile-landscape) {
			height: 64px;
			@include flex-center;
		}
	}

	&__img {
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}

	&__text {
		padding: 0 40px;
		color: $white;
		font-size: 16px;
		@include font($Lato, 700, italic);
		text-align: center;
		line-height: 1.5;

		@include for-size(mobile-landscape) {
			padding: 0 10px;
		}
	}

	&__footer	{
		display: none;
		margin: 0 auto 15px;
		opacity: 0.8;
		color: #a291a5;
		font-size: 14px;
		@include font($Lato);
		line-height: 1.5;
		text-align: center;

		@include for-size(mobile-landscape) {
			display: block;
			width: 90%;
		}

		@include for-size(desktop) {
			display: block;
			width: 70%;
		}
	}

	&__separator {
		height: 2px;
		margin: 0 auto;
		padding: 0 20px;
		background-color: #645766;

		@include for-size(mobile-landscape) {
			width: 95%;
		}

		@include for-size(desktop) {
			width: 60%;
		}
	}
}