@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500&display=swap');

@font-face {
  font-family: "Montserrat-Bold";

  src: url("../fonts/forkio_fonts/Montserrat-Bold.ttf");

}
@font-face {
  font-family: "Lato-Regular";

  src: url("../fonts/forkio_fonts/Lato-Regular.ttf");

}

@font-face {
  font-family: "Montserrat-Regular";

  src: url("../fonts/forkio_fonts/Montserrat-Regular.ttf");

}