$fa-font-path:        "../fonts/webfonts";

$revolEditorColor: #635c73;
$whiteColor: #fff;
$revolSubTittleColor: #5b5b5b;
$sotialBtnColor: rgba(27,31,35,.2);
$sotialBtnTxtColor:#24292e;
$trialColor: #848e97;

$opportunitiesBGColor: #f4f4f4;
$opportunitiesTittleColor: #8d81ac;
$categoriesTittleColor:#323232;


$highlighted: #413344;
$highlightedHeader: #3a2d3d;

$lineColor: #8d81ac;