$fa-font-path:        "../fonts/webfonts";

// fonts
$Montserrat: Montserrat, Georgia, 'Times New Roman', serif;
$Lato: Lato, Georgia, 'Times New Roman', serif;

// colors
$primary: #8d81ac;
$secondary: #776b79;
$white: #fff;
$headerBg: #27262a;
