<section class="editor">
    <p class="editor__txt-trial">unlimited 30-days trial period</p>
    <span class="editor__tittle">revolutionary editor</span>
    <p class="editor__sub-tittle">
        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id
        quam auctor molestie eget ut augue.
    </p>
    <ul class="social-action">
        <li class="social-action__items">
            <a href="#" class="social-action__btn btn"><i class="far fa-eye"></i>watch</a>
            <a href="#" class="social-action__counter">1,397</a>
        </li>
        <li class="social-action__items">
            <a href="#" class="social-action__btn btn"><i class="fas fa-star"></i>star</a>
            <a href="#" class="social-action__counter">21,038</a>
        </li>
        <li class="social-action__items">
            <a href="#" class="social-action__btn btn"><i class="fas fa-code-branch"></i>fork</a>
            <a href="#" class="social-action__counter">4,391</a>
        </li>

    </ul>

</section>