<section class="testimonials">
	<h2 class="testimonials__title">
		People Are Talking About Fork
	</h2>

	<div class="container">
		<div class="testimonials__row">
			<div class="testimonials__col">
				<div class="testimonials__img-wrap">
					<img src="./img/testimonials-logo-1.png" alt="testimonials logo" class="testimonials__img" width="165" height="43">
				</div>

				<p class="testimonials__text">
					Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
				</p>
			</div>

			<div class="testimonials__col">
				<div class="testimonials__img-wrap">
					<img src="./img/testimonials-logo-2.png" alt="testimonials logo" class="testimonials__img" width="148" height="50">
				</div>

				<p class="testimonials__text">
					Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.
			<div class="testimonials__col">
				<div class="testimonials__img-wrap">
					<img src="./img/testimonials-logo-3.png" alt="testimonials logo" class="testimonials__img" width="64" height="64">
				</div>

				<p class="testimonials__text">
				In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. 				</p>
			</div>

			<div class="testimonials__col">
				<div class="testimonials__img-wrap">
					<img src="./img/testimonials-logo-4.png" alt="testimonials logo" class="testimonials__img" width="225" height="24">
				</div>

				<p class="testimonials__text">
					Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. 				</p>
			</div>

			<div class="testimonials__col">
				<div class="testimonials__img-wrap">
					<img src="./img/testimonials-logo-5.png" alt="testimonials logo" class="testimonials__img" width="166" height="34">
				</div>

				<p class="testimonials__text">
					Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. 				</p>
			</div>

			<div class="testimonials__col">
				<div class="testimonials__img-wrap">
					<img src="./img/testimonials-logo-6.png" alt="testimonials logo" class="testimonials__img" width="108" height="34">
				</div>

				<p class="testimonials__text">
					Fusce pharetra erat id odio blandit, nec
					pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.				</p>
			</div>
		</div>

		<div class="testimonials__footer">
			Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		</div>

		<div class="testimonials__separator"></div>
	</div>
</section>