<section class="opportunities">
    <span class="opportunities__tittle">&ltHere is what you get&gt</span>

    <ul class="products-oppor">
        <li class="products-oppor__categories categories">
            <span class="categories__image categories__image--correct "><img src="../img/icon.png" alt="icon"></span>
            <div class="categories__txt">
                <span class="categories__tittle">Creatred to Make The Web Better</span>
                <p class="categories__sub-tittle">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                    laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
            </div>
        </li>
        <li class="products-oppor__categories categories">
            <span class="categories__image categories__image--clock"><img src="../img/icon2.png" alt="icon"></span>
            <div class="categories__txt">
                <span class="categories__tittle">Incredibly Powerful Tool</span>

                <p class="categories__sub-tittle">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
                    ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat
                    volutpat. </p>
            </div>
        </li>
        <li class="products-oppor__categories categories">
            <span class="categories__image categories__image--glass"><img src="../img/icon3.png" alt="icon"></span>
            <div class="categories__txt">
                <span class="categories__tittle">Experimental Stuff</span>
                <p class="categories__sub-tittle">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
                    volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
        </li>
        <li class="products-oppor__categories categories">
            <span class="categories__image categories__image--timer"><img src="../img/icon4.png" alt="icon"></span>
            <div class="categories__txt">
                <span class="categories__tittle">Creatred to Make The Web Better</span>
                <p class="categories__sub-tittle">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
                    volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
        </li>
    </ul>

    <div class="opportunities__image"></div>

</section>
